<style>
  @font-face {
    font-family: "cascadia";
    src: url("../assets/CascadiaCode.ttf") format("truetype");
  }
  :root {
    --purple: #dddaec;
    --red: #ff5188;
    --cyan: #78dce8;
    --orange: #fc7f40;
    --lightgray: #edeff4;
  }

  img {
    max-width: min(500px, 100%) !important;
  }
  .tab-content,
  .doc-alert {
    & p,
    ol,
    ul:last-child {
      margin-bottom: 0 !important;
    }
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .with-shadow {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
  }
  .purple {
    color: var(--purple);
  }
  .red {
    color: var(--red) !important;
  }
  .orange {
    color: var(--orange);
  }
  code {
    font-family: "cascadia", monospace !important;
  }
</style>
