<meta content="Algorithm & Data Structures" property="og:title" />
<meta content="Notes for 122A, 122B, and more" property="og:description" />
<meta
  content="https://tomli380576.github.io/algorithm-notes/"
  property="og:url"
/>
<meta
  content="https://tomli380576.github.io/algorithm-notes/assets/lmao2.png"
  property="og:image"
/>
<meta content="#0989f7" data-react-helmet="true" name="theme-color" />

<style>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
  :root {
    --purple: #dddaec;
    --red: #ff5188;
    --cyan: #78dce8;
    --orange: #fc7f40;
    --lightgray: #edeff4;
  }

  img {
    max-width: min(500px, 100%) !important;
  }
  .tab-content,
  .doc-alert {
    & p,
    ol,
    ul:last-child {
      margin-bottom: 0 !important;
    }
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .with-shadow {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
  }
  .purple {
    color: var(--purple);
  }
  .red {
    color: var(--red) !important;
  }
  .orange {
    color: var(--orange);
  }
  code {
    font-family: "Fira Code", monospace !important;
    /* font-size: 14px !important;; */
  }
  .inline-code {
    background-color: #353535;
    border-color: rgb(66, 66, 66);
    border-radius: 0.25rem;
    border-width: 1px;
    line-height: 1;
    padding: 4px 8px;
  }


  .thm,
  .lemma,
  .def,
  .prop,
  .rmk,
  .strat,
  .cor {
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;

    border: 1px solid rgba(255, 255, 255, 0);
    /* border-left: 0.25rem solid lightgray; */

    /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    & h4 {
      margin-bottom: 0.5rem;
      & strong {
        font-weight: bolder;
      }
    }
  }

  .thm,
  .strat {
    /* border-left: 0.25rem solid var(--purple); */
    & h4 {
      & strong {
        color: var(--purple);
      }
    }
  }

  .def {
    & h4 {
      & strong {
        color: var(--red);
      }
    }
  }

  .prop {
    /* border: 1px solid var(--orange); */
    & h4 {
      & strong {
        color: rgb(236, 206, 88);
      }
    }
  }

  .rmk,
  .cor {
    & h4 {
      & strong {
        color: var(--orange);
      }
    }
  }

  .lemma {
    & h4 {
      & strong {
        color: var(--cyan);
      }
    }
  }
</style>
