@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body:not(code) {
  font-family: 'Raleway', sans-serif !important;
}

.purple {
  color: #8d8d8d;
}

.red {
  color: #ff6188;
}

.blue {
  color: #78dce8;
}

.orange {
  color: #fc9867;
}

.image-m {
  max-width: 400px;
}


.code-em table tr td{
  line-height: 1 !important;
  padding: 5px 10px !important;
}